- if notice
  .notification-wrapper
    .container-fluid
      .notification
        %p.alert.alert-success
          = notice
- if alert
  .notification-wrapper
    .container-fluid
      .notification
        %p.alert.alert-danger
          = alert