- if notice
  .notification-wrapper
    .notification
      %p.alert.alert-success
        = notice
- if alert
  .notification-wrapper
    .notification
      %p.alert.alert-danger
        = alert
- if flash[:error]
  .notification-wrapper
    .notification
      %p.alert.alert-danger
        = flash[:error]